{% load staticfiles %}
<html>
    <head>
        <title>Запросы</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ApartmentPrices.css' %}">
        <link href='//fonts.googleapis.com/css?family=PT+Serif|Yeseva+One&amp;subset=cyrillic-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="header">
            <h1>
                <a href="/">Запросы</a>
                <a href="{% url 'ApartmentPrices:apartment_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
            </h1>
        </div>

        <div class="content">
            {% if apartments %}
                {% for apartment in apartments %}
                    <div class="apartment">
                        <h1><a href="{% url 'ApartmentPrices:detail' apartment.id %}">{{ apartment }}</a></h1>
                        <p>Район: {{ apartment.h_dstr }}<br>
                        Количество комнат: {{ apartment.room_no }}</p>
                        Стоимость: {{ apartment.price }}
                    </div>
                {% endfor %}
            {% else %}
                <p>No requests are available.</p>
            {% endif %}
        </div>
    </body>
</html>