{% load staticfiles %}
<html>
    <head>
        <title>Новый запрос</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/ApartmentPrices.css' %}">
        <link href='//fonts.googleapis.com/css?family=PT+Serif|Yeseva+One&amp;subset=cyrillic-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="header">
            <h1><a href="/" class="top-header">Запросы</a></h1>
        </div>
        <div class="content post-form">
            <h1>Новый запрос</h1>
            <form class="form" method="POST">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Отправить</button>
            </form>
        </div>
    </body>
</html>